## Import Modules

In [113]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from time import sleep
import pandas as pd

## Set Webdriver called Fathi

In [114]:
# open the fathi
fathi = webdriver.Chrome()

In [115]:
# load the webpage
fathi.get('https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW')

In [116]:
fathi.maximize_window()

In [117]:
# Scrape Products from Amazon
Film_title = []
Lifetime_gross = []
Year = []
Film_titles = fathi.find_elements(By.XPATH, "//td[@class='a-text-left mojo-field-type-title']/a")
lifetime_gross = fathi.find_elements(By.XPATH, "//td [@class ='a-text-right mojo-field-type-money']")
year = fathi.find_elements(By.XPATH, "//td [@class ='a-text-left mojo-field-type-year']")
for i in Film_titles:
    Film_title.append(i.text)
for i in lifetime_gross:
    Lifetime_gross.append(i.text)
for i in year:
    Year.append(i.text)

## Scrape Products from Amazon

Shut Down Fathi

In [118]:
fathi.quit()

## Data To CSv

Create DataFrame

In [119]:
# Remove '2009' from all film titles
Film_title = [title.replace('2009', '').strip() for title in Film_title]

# Create DataFrame with equal length columns
min_len = min(len(Film_title), len(Lifetime_gross), len(Year))
data = pd.DataFrame({
    'Film Title': Film_title[:min_len],
    'Lifetime Gross': Lifetime_gross[:min_len],
    'Year': Year[:min_len]
})
data.head(10)

                                   Film Title  Lifetime Gross  Year
0                                      Avatar  $2,923,710,708  2009
1                           Avengers: Endgame  $2,799,439,100  2019
2                    Avatar: The Way of Water  $2,320,250,281  2022
3                                     Titanic  $2,264,812,968  1997
4                                    Ne Zha 2  $2,150,000,000  2025
5  Star Wars: Episode VII - The Force Awakens  $2,071,310,218  2015
6                      Avengers: Infinity War  $2,052,415,039  2018
7                     Spider-Man: No Way Home  $1,921,426,073  2021
8                                Inside Out 2  $1,698,863,816  2024
9                              Jurassic World  $1,671,537,444  2015

In [120]:
# Save to CSV
data.to_csv('Box_office.csv', index=False,columns=['Film Title', 'Lifetime Gross', 'Year'])